/* 
Theme Name:		 LFR Lending
Theme URI:		 http://childtheme-generator.com/
Description:	 LFR Lending is a child theme of Bootspress
Author:			 Jessiemar Pedrosa
Author URI:		 http://childtheme-generator.com/
Template:		 bootspress
Version:		 1.0.0
Text Domain:	 lfr-lending
*/

/**
 * Typography
*/
h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI", Georgia, "Times New Roman", serif;
}
.site-title a, .site-title a:visited{
	font-family: "Segoe UI", Georgia, "Times New Roman", serif;
	font-weight: 500;
}

/*
** Admin Area
*/
#wpadminbar{
    z-index: 9999;	
}
.edit-link{
	display: none !important;
}

/*
**  Add your custom styles here
*/
header#masthead{
    background: #eee;
}
#primary-menu li.current-menu-item > a {
    border-bottom: 2px solid black;
    font-weight: bold;
}
#main-nav li.login a.nav-link,
#main-nav li.logout a.nav-link {
    display: flex;
    align-items: center;
}
#main-nav li.login a.nav-link:before,
#main-nav li.logout a.nav-link:before  {
	content: '';
	background: url(images/login_icon.png);
	width: 18px;
	height: 18px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 10px;
}
#main-nav li.logout a.nav-link:before {
	background-image: url(images/logout_icon.png);
}
div#content{
	min-height: 600px;
}
body.home div#content {
	background: url(https://lfrlending.com/wp-content/uploads/2022/08/pexels-photo-6328955.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
body.home .site-main .entry-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0000005c;
    margin: 20vh 0;
    padding: 12vh 0;
    box-shadow: 0px 0px 30px -3px #00000047;
    color: white;
}

body.logged-in.editor li#wp-admin-bar-edit,
body.logged-in.editor li#wp-admin-bar-new-content,
body.logged-in.editor li#wp-admin-bar-delete-cache {
    display: none;
}
.page-template-full-width-without-container .site-content {
	padding: 0 50px;
}

.wpDataTablesWrapper{
	margin: 0;
}

.wpDataTablesWrapper table.wpDataTable>tbody>tr>th, .wpDataTablesWrapper table.wpDataTable>tbody>tr>td{
	font-size: 12px;
}

header.entry-header {
	display: none;
}

a.dt-button.new_table_entry.DTTT_button.DTTT_button_new {
	background: #087e08 !important;
	color: white !important;
}

h2.wpdt-c{
	display: none;
}
.wpDataTablesFilter .wpDataTableFilterSection label{
	font-weight: 400 !important;
	font-size: 14px !important;
}

.wpDataTablesWrapper .wpDataTableFilterSection{
	padding: 0 10px 0 0 !important;
}

.wpDataTablesWrapper .DTTT_button span {
	vertical-align: middle;
	font-size: 12px;
	top: -2px;
	position: relative;
}

.wpDataTablesWrapper .DTTT_button:before {
	font-size: 100%;
}

.wpDataTablesFilter .wpDataTableFilterSection:not(#wdt-clear-filters-button-block):not(#wdt-pf-search-filters-button-block){
	min-height: 105px !important;
}

.wpdt-c .show, #editTransactionModal.show {
	opacity: 100 !important;
}
#wdt-frontend-modal .modal-dialog {
	width: 1000px;
	max-width: 100%;
	-webkit-transform: translate(0,0%);
	-ms-transform: translate(0,0%);
	-o-transform: translate(0,0%);
	transform: translate(0,0%);
}
#wdt-frontend-modal.modal.fade{
	background: rgba(32, 32, 32, 0.85);
}
#wdt-frontend-modal.modal .modal-header {
    background: #eee;
}
#wdt-frontend-modal.modal .modal-header .close{
	display: none;
}
#wdt-frontend-modal .modal-body{
    padding: 20px 26px 10px;	
}
#wdt-frontend-modal .modal-body .row.wdt-edit-dialog-fields-block{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	list-style: none;
	height: 50em;
}
body.page-all-loans #wdt-frontend-modal .modal-body .row.wdt-edit-dialog-fields-block{
	height: 35em;
}
#wdt-frontend-modal .modal-body .form-group .control-label{
	font-weight: 400;
	font-size: 13px;
	padding-left: 0;
}
#wdt-frontend-modal .modal-body .form-group {
    margin-bottom: 15px;
	width: 49%;
}
.wpDataTables.wpDataTablesWrapper .dataTables_info {
    font-size: 13px;
}
#table_1_tlainterestamt,
#table_1_tlapayback,
#table_1_dailyrate,
#table_1_weeklyrate,
#table_1_biweeklyrate,
#table_1_monthlyrate,
#table_1_balance {
	background: #eee;
	pointer-events: none;
	border: 1px solid #cdcdcd;
	color: black;
	padding: 5px 7px;
}
.column-profile_picture img {
    width: 50px;
}

body.logged-in.editor .dt-button.edit_table,
body.logged-in.editor .dt-button.delete_table_entry{
	display: none;
}

.overlay{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: rgba(255,255,255,0.8) url("images/spinner.gif") center no-repeat;
}
/* Turn off scrollbar when body element has the loading class */
body.loading{
	overflow: hidden;   
}
/* Make spinner image visible when body element has the loading class */
body.loading .overlay{
	display: block;
}

/*
**  Helper CLass
*/
.text-bold{
	font-weight: bold;
}
tr.saved {
    background: #deffde;
}

/*
**  Add Multiple Transactions
*/
#primary.site-main{
	width: 100%;	
}
.filterActions{
    justify-content: space-between;
}
.filterActions > form{
	padding: 30px 0px 15px;
	margin-right: 20px;
}	
.filterActions > form > *{
	margin-right: 20px;
}
.filterActions__account{
	height: 39px;
}
.filterActions__account,
.transactionDate  {
    width: 260px;
}
.filterActions input[name="filter"]{
    background: #009b00;
    border: 1px solid #009b00;	
	 padding: 0.375rem 1.5rem;
}
.filterActions input.reset{
    line-height: 1.5;
    padding: 0.375rem 1.5rem;	
}
.filterResults table * {
    font-size: 14px;
	vertical-align: middle;
}
.filterResults td.actions{
	vertical-align: middle;	
}
.filterResults td.actions button.btn_save{
	margin-bottom: 5px;
	padding: 10px 0px;
	width: 100%;
}
.filterResults td.actions button.btn_edit{
	display: none;
}
.filterResults tr.saved td.actions button.btn{
	width: 100%;
	/* padding: 5px 0px; */
	/* line-height: 15px; */
	display: block;
}
.filterResults tr.saved td.actions button.btn_save {
    opacity: 0.3;
	display: none;
}
.infoMsg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.infoMsg p:empty {
    display: none;
}
#edit_form .form-group {
    margin-bottom: 20px;
}

#main-nav a.nav-link {
	color: #212529;
	font-size: 18px;
	margin-left: 17px;
}

#main-nav a.dropdown-item{
	color: #212529;
	font-size: 18px;
	padding: 15px 20px;
	border-bottom: 1px solid #cdcdcd;
}
#main-nav a.dropdown-item:last-child{
	border: none;
}
#main-nav a.dropdown-item:active{
	background: #e9ecef;
}
.wpDataTablesWrapper table.wpDataTable tr.selected td {
	background: #009b2178 !important;
}

.modal-body #table_1_custnum,
.modal-body #table_1_loan_no {
	font-weight: bold;
    pointer-events: none;
}


/*
**  Loan Details List
*/
.loanDetailsList td.CLOSED,
.loanDetailsList td.ACTIVE{
	text-transform: uppercase;
	font-weight: bold;
	color: green !important;
}
.loanDetailsList td.CLOSED{
	color: red !important;
}
.slide-out-panel-container .slide-out-content .close-slide-out-panel{
    background: red;
    opacity: 1;
    color: white;
    padding: 10px 10px;	
	top: 30px;
}
.filterActions__btn input {
    margin-right: 10px;
}

tr.delinqCust {
    background: #ffdcdc;
}
span.loanDetails_totalAmount {
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: 18px;
}